<!DOCTYPE html>
<html lang="en">
<head><% include partials/page/head.ejs %></head>
<body class="<%= classname %>" >
<% include partials/page/header.ejs %>

<div class="container">
  <h1><%= title %></h1>
  <% projects.forEach(function(project) { %>
    <div class="project"><h2><a href="/project/<%= project.title %>"><%= project.title %>:</a></h2>
      <%= project.shortDescription %>
    </div>
  <% }); %>
</div>

  <% include partials/page/footer.ejs %>
</body>
</html>
